<a href="https://colab.research.google.com/github/HoDoDuyDung/Colab_Code/blob/main/AI_W3_18_02_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name'] = ['Lemon','Apple','Banana']
dataframe['Price'] = [5,8,7]
dataframe['License'] = [False, True, True]
dataframe

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [2]:
dataframe.shape
(3, 3)
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
# print column name

In [36]:
list(df.columns)

['Name', 'Price', 'License', 'Location']

In [4]:
df.describe()

          Price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [9]:
# loc iloc
df.loc[(df.Price == 5)]

    Name  Price  License
0  Lemon      5    False

In [7]:
df.loc[(df.Price == 5) | (df.Name == 'Banana')]

     Name  Price  License
0   Lemon      5    False
2  Banana      7     True

In [8]:
df.loc[(df.Price == 5) | (df.Name == 'Banana'), ['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [10]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [11]:
df.iloc[2]

Name       Banana
Price           7
License      True
Name: 2, dtype: object

In [12]:
df.iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [13]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [16]:
df.iloc[0:2,0:-1]

    Name  Price
0  Lemon      5
1  Apple      8

In [15]:
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [17]:
sum = df.Price.sum()
print(sum)

20

In [34]:
max = df.Price.max()
print(max)

8

In [21]:
count = df['Price'].count()
print(count)

3

In [23]:
# creat row data
new = pd.Series(['Orange',10,True], index=['Name','Price','License'])
# append row
dataframe.append(new, ignore_index=True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     10     True

In [25]:
# append a column
dataframe['Location'] = ['USA','VN','Sin']
dataframe

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      Sin

In [26]:
# delete a row
dataframe.drop(1, axis=0).head(10)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      Sin

In [28]:
# delete a column
dataframe.drop('Location', axis=1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [29]:
# replace
dataframe['Price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: Price, dtype: int64

In [31]:
# rename columns
dataframe.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      Sin

In [ ]:
# KNOWING DATA

In [33]:
# load library
import pandas as pd
# create url
url = '/content/medals.csv'
# load data
dataframe = pd.read_csv(url)
# show data
dataframe.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold