<a href="https://colab.research.google.com/github/HoDoDuyDung/Colab_Code/blob/main/pima_indians_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
url = 'pima-indians-diabetes.csv'
data = pd.read_csv(url)
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [47]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

x = data.iloc[:,0:-1]
y = data.iloc[:,-1]

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)

print(x_train,x_train_std)

     6  148  72  35    0  33.6  0.627  50
600  6   96   0   0    0  23.7  0.190  28
511  9   91  68   0    0  24.2  0.200  58
720  1  114  66  36  200  38.1  0.289  21
282  7  161  86   0    0  30.4  0.165  47
321  0  124  70  20    0  27.4  0.254  36
..  ..  ...  ..  ..  ...   ...    ...  ..
766  1   93  70  31    0  30.4  0.315  23
187  8  109  76  39  114  27.9  0.640  31
69   2  100  66  20   90  32.9  0.867  28
153  8  188  78   0    0  47.9  0.137  43
222  7  142  60  33  190  28.8  0.687  61

[536 rows x 8 columns] [[ 0.6119529  -0.80618149 -3.76552276 ... -1.06857754 -0.85785204
  -0.43345525]
 [ 1.48975866 -0.96604582 -0.10104265 ... -1.00473208 -0.82817126
   2.09555799]
 [-0.85105671 -0.23066991 -0.20882148 ...  0.77017151 -0.56401232
  -1.02355835]
 ...
 [-0.55845479 -0.67829003 -0.20882148 ...  0.1061788   1.1515367
  -0.43345525]
 [ 1.19715674  2.13532215  0.43785148 ...  2.02154239 -1.01516016
   0.83105137]
 [ 0.90455482  0.66457033 -0.53215796 ... -0.41735392  0.61728268
   2.34845931]]

In [48]:
model = Perceptron(max_iter = 1000, eta0=0.05,random_state = 0)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(y_pred)
print(y_test)
print('Đo chinh xac ma hinh chua scale:',accuracy_score(y_test,y_pred))

[0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0
 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0
 0 1 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 1 1 1 1 0 0 0
 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0
 1 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 0 0 0 1 1 0 0 1
 0 0 0 0 1 0 1 0 0]
445    0
13     1
89     0
51     0
260    1
      ..
707    1
619    0
293    0
239    0
351    0
Name: 1, Length: 231, dtype: int64
Đo chinh xac ma hinh chua scale: 0.658008658008658

In [49]:
model = Perceptron(max_iter = 1000, eta0 = 0.05,random_state = 0)
model.fit(x_train_std,y_train)
y_pred = model.predict(x_test_std)
print(y_pred)
print(y_test)
print('Do chinh xac ma hinh chua scale:',accuracy_score(y_test,y_pred))

[0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1
 0 1 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 1 0
 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1
 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0
 1 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0 0
 1 0 1 1 0 0 1 1 1 1 1 0 1 0 0 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 0]
445    0
13     1
89     0
51     0
260    1
      ..
707    1
619    0
293    0
239    0
351    0
Name: 1, Length: 231, dtype: int64
Do chinh xac ma hinh chua scale: 0.7445887445887446